# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log

# Runtime
pids/
*.pid
*.seed
*.pid.lock

# Coverage
coverage/
*.lcov
.nyc_output

# Build output
dist/

# Cache
.cache/
.rpt2_cache/
.rts2_cache_*
.eslintcache

# Environment
.env
.env.*.local

# System
.DS_Store
.vscode/

# GitHub Pages
*.tgz

# Sass
.sass-cache/

# IDE
.idea/
*.swp

# VS Code workspace settings
*.code-workspace

# Optional
*.tsbuildinfo
