$color-bg-body: 	#FEFDFC;
$color-bg-backdrop: rgba(0, 0, 0, 0.30);
$color-text-primary: #000;
$color-text-accent: #00634B;
$color-text-secondary: #4E4E4E;
$color-text-muted: #646464;

$font-main: "Inter", sans-serif;

$btn-hover-box-shadow: 0px 4px 30px 0px rgba(32, 32, 32, 0.25);

$navbar-height: 74px;
