//Colors
$color-bg-body: 	#FEFDFC;
$color-bg-backdrop: rgba(0, 0, 0, 0.30);
$color-text-primary: #000;
$color-text-accent: #00634B;
$color-text-secondary: #4E4E4E;
$color-text-muted: #646464;

//Fonts
$font-main: "Inter", sans-serif;
