@use "./utils/reset";
@use "./utils/variables" as *;
@use './utils/bootstrap-custom';
@use 'bootstrap/scss/bootstrap';

@use "./base/font-face";

@use './components/buttons';
@use './components/navbar';

html {
  font-size: 18px;
}

body:has(dialog.modal[open]) {
  overflow: hidden;
}
